label {
  color: #1f2937;
  padding-bottom: 5px;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.icon {
  width: 75px;
  font-size: 30px;
  gap: 5px;
}

.hide-scrollbg::-webkit-scrollbar {
  background-color: none;
}

/* .no-todo {
  width: 300px;
  height: 200px;
} */

.input {
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  box-sizing: border-box;
}

.card {
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  box-sizing: border-box;
}

.card-container {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 300px;
  padding: 5px;
}

/* Small phones */
@media (max-width: 480px) {
  .input,
  .card {
    width: 280px;
  }

  .main-area {
    display: flex;
    flex-direction: column;
    max-height: 500px;
  }
}

/* Phones to small tablets */
@media (min-width: 481px) and (max-width: 767px) {
  .input,
  .card {
    width: 300px;
  }

  .main-area {
    display: flex;
    flex-direction: column;
  }

  .mobile-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Tablets to small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .input,
  .card {
    width: 320px;
  }
}

/* Medium to large desktops */
@media (min-width: 992px) {
  .input,
  .card {
    width: 400px;
  }
}
